[submodule "External/MASPreferences"]
	path = External/MASPreferences
	url = git@github.com:shpakovski/MASPreferences.git
[submodule "External/MPRandomForest"]
	path = External/MPRandomForest
	url = git@github.com:mpapp/Swot
[submodule "External/PARViewController"]
	path = External/PARViewController
	url = git@github.com:cparnot/PARViewController.git
[submodule "External/opencv2-framework-for-mac"]
	path = External/opencv2-framework-for-mac
	url = git@github.com:kyogoku42/opencv2-framework-for-mac.git
